[data-theme="dark"] .navbar {
    background: #24252680;
}

[data-theme="light"] .navbar {
    background: #ffffff;
}

[data-theme="dark"] .navbar-sidebar {
    background: #2425269f;
    backdrop-filter: blur(10px);
}

.download-button {
    color: white;
    padding: 7px 13px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    display: inline-block;
    font-size: 22px;
    text-decoration: none !important;
    font-family: "Quicksand";
}

[data-theme="dark"] .download-button {
    background-color: #1063cf;
}

[data-theme="dark"] .download-button:hover {
    color: #eeeeee !important;
    background-color: #0f5cc0;
}

[data-theme="light"] .download-button {
    background-color: #3e86e6;
}

[data-theme="light"] .download-button:hover {
    color: #eeeeee !important;
    background-color: #2e75d3;
}
