.prism-code {
    counter-reset: line-number;
}

.prism-code .token-line::marker {
    color: var(--ifm-color-gray-700);
    content: counter(line-number);
}

.prism-code .token-line {
    counter-increment: line-number;
    display: list-item;
    padding-left: var(--ifm-pre-padding);
    margin-left: var(--ifm-global-spacing);
}

[data-theme=dark]
.navbar {
    background: #24252680;
}

[data-theme=light]
.navbar {
    background: #ffffff;
}

[data-theme=dark]
.navbar-sidebar {
    background: #2425269f;
    backdrop-filter: blur(10px);
}